.title-about {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(2, 187, 2);
    text-align: center;
}

#fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

}

.max {
    font-weight: 800;
    animation: changeColor 2s infinite;
    padding: 5px;
    border-radius: 5px;
}


@keyframes changeColor {
    0% {
        background-color: blue;
    }
    50% {
      background-color: red;
    }
    100% {
      background-color: blue;
    }
  }

.ajust {
    height: 90px;
}

.title-about span {
 color: rgb(255, 255, 255);
 font-style: italic;
 background: green;
 padding: 5px;
}

.r-1 {
    background-image: url(assets/bg1.jpg);
    background-size: cover;
    
}

.r-2 {
    background-image: url(assets/bg2.png);
    background-size: cover;
    color: white;
    padding: 80px 0;
    
}

.text-justify {
    text-align: justify;
}

.logo:hover {
    scale: 1.1;
}

.footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
}

.button-top {
    position: fixed;
    color: rgb(18, 105, 0);
    bottom: 0.1em;
    right: 0.1em;
    text-decoration: none;
    padding: 0.7em 0.2em;
    display: none;
}

.button-top:hover {
    color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}